 
    <ul class="list-group" >
      <li class="list-group-item list-group-item-success" *ngFor = "let item of categories">
        <a href="#{{item.name}}" data-toggle="collapse" role="button" class="btn btn-dark">{{item.name}}
          <span class="badge badge-primary badge-pill" *ngIf="item.subCategoriesCount>0">{{item.subCategoriesCount}}</span>
        </a>
        <ul class="list-group collapse" id="{{item.name}}" *ngIf = "item.subCategoriesCount>0">
          <li class="list-group-item" *ngFor = "let child of item.categories">
            {{child.name}}
          </li>
        </ul>
      </li>
    </ul>
